<div style="background-color: rgb(71, 71, 71)1, 87, 87); padding: 25px">
    <h1>CENTRO CENTRAL DE MENSAJES</h1>
    <input type="text" placeholder="Ingrese su mail" name="email">
    <br>
    <hr>
    <br>
    <ul style="margin: 0px; padding: 0px" id="msgList">
        <li>item viejo</li>
    </ul>
    <br>
    <input type="text" placeholder="Ingrese su mensaje" name="mensaje"><button class="btn btn-primary"
        style="margin: 10px" id="submitMsg">Submit</button>
</div>